node_modules/
.env
.env.local
.env.*.local
.DS_Store
*.log
backend/data/uploads/
backend/data/config.json
backend/logs/
seed-db.mjs
migrate-db.mjs
.vercel
public/
build/
*.sql
tools/productos-list.csv
frontend/productos/
coverage/
backend/.env
.env*
.database/
tools/migrate-products-to-neon.mjs
